body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  table {
    margin: 50px auto;
    border-collapse: collapse;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
  }
  
  thead {
    background-color: #008CBA;
    color: rgb(27, 4, 4);
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  a {
    display: block;
    text-align: center;
    margin: 50px auto;
    background-color: #008CBA;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #006080;
  }
  